doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Plantilla Pug 
    body 
        h1=mensaje
        div.una_clase
            p párrafo dentro del div 
        h2(style={color: 'red'}) H2 en rojo